<div class="container" ng-controller="messagesController" id="messageList">
        <div id="header">
            <h2>Bandeja de salida</h2>
            <button type="button" id="newCorreo" ui-sref="dash.messages" class="btn btn-info"><i class="fas fa-plus-circle"></i></button>
        </div>
        <div id ="trays">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="dash.inbox">Entrada</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">Enviados</a>
                </li>
            </ul>
        </div>    
        <div class="list-group" ng-init="getMessages('outbox')">
            <div ng-repeat="correo in correos | orderBy: 'this.sent'">
                <a id="mail"class="list-group-item list-group-item-secondary list-group-item-action w-100">
                    <div class="d-flex w-90 justify-content-between" ng-click="readMessage(correo.id,correo.data.status)">
                        <h5 class="sm-1">A: {{correo.data.r_username}}</h5>
                        <small>{{correo.sent}}</small>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success" ng-click="readMessage(correo.id,correo.data.status)"><i class="far fa-eye"></i></button>
                            <button type="button" class="btn btn-danger" ng-click="deleteMessage(correo.id)"><i class="far fa-trash-alt"></i></button>                        
                        </div>
                    </div>
                </a>
            </div>
        </div>    
    </div>