<div class="container">
  <h2>{{'messages.read' | translate}}</h2>
    <div ng-controller="messagesController">
      <form id="message">
        <div class="form-group">
          <div ng-if="data.sender">
            <h2for="user">{{'messages.message_from' | translate}} {{data.sender}}</h2>
          </div>
          <div ng-if="data.r_username">
              <h2 for="user">{{'messages.message_to' | translate}} {{data.r_username}}</h2>
          </div>    
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <textarea class="form-control" id="message" ng-model="decryptedContent" rows="10"></textarea>
            </div>

          <button type="submit" class="btn btn-primary" ng-click="respond(data.sender,data.id_sender)">{{'messages.answer' | translate}}</button>
          <button ng-if="data.tray != 'published' && data.publish == 'true' && !data.r_username" type="submit" class="btn btn-info" ng-click="publishMessage()">{{'messages.publish' | translate}}</button>
          <button type="submit" ng-if="data.tray == 'published'" class="btn btn-info" disabled>{{'messages.published' | translate}}</button>
          </div> 
        </div>  
      </form>
    </div>
  </div>


  <div class="modal fade spinerModal" tabindex="-1" id="readingSpinner" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
              {{'messages.reading' | translate}}
          </div>
          <div class="modal-body">
              <div class="d-flex justify-content-center">
                  <div class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
              </div>
          </div>
          <div class="modal-footer">
            
          </div>
        </div>
      </div>
    </div>
  </div>  


     