<nav class="navbar navbar-expand-md navbar-light rounded-sm" id="chatInfo" ng-init="chatInfo()">
    <span>{{infoChat.title}}</span>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="options">
            <a class="dropdown-item" ng-click="deleteChat()">Borrar chat</a>
          </div>
      </li>
    </ul>  
  </nav>
  <div class="border" id="messages">
    
  </div>
  <div id="bottonChat">
      <div class="input-group mb-2" id="textBox">
          <input type="text" class="form-control" ng-model="chatMessage" id="text" placeholder="Inserta texto">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" id="button-addon2" ng-click="sendToChat()"><i class="far fa-paper-plane"></i></button>
          </div>
      </div>
  </div>    