<div class="container-fluid" ng-controller="reposController">
       <div ng-init="checkToken()">
             <h2>{{'repositories.title' | translate}}</h2>
            <div ng-show="tokenExists == true">
                  <div ng-repeat="repo in repoList">
                        <div class="list-group">
                              <a ui-sref="dash.repo({dir: repo.name})" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{repo.name}}</h5>
                                    <small ng-if="repo.private == false">{{'repositories.public' | translate}}</small>
                                    <small ng-if="repo.private == true">{{'repositories.private' | translate}}</small>
                                    </div>
                                    <p class="mb-1">{{repo.html_url}}</p>
                              </a>
                        </div>
                  </div>    
                  <button type="button" id="newRepo" ui-sref="dash.newRepo" class="btn btn-info m-2"><i class="fas fa-plus-circle"></i></button>          
            </div>  
       </div>    
       
 </div>