<div class="container" style="margin-left: 0px">
    <h2>Lista de chats</h2>
  <div class="row">
    <div class="col-6" id="chatList" >
      <nav class="navbar navbar-light" id="chatBox" ng-init="getUserChats()">
        <!-- Navbar content -->
          <span>Conversaciones</span>
            <form class="form-inline my-2 my-lg-0 ">
              <div class="input-group mb">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-search fa-sm"></i></span>
                  </div>
                  <input class="form-control mr-sm-2" type="text" id="chatSearch" placeholder="Busqueda de chat" ng-model="chatSearch" aria-label="Search">
              </div>
            </form>
            <button class="btn btn-outline-success" data-toggle="modal" data-target="#newChat" ng-click="getContacts()"><i class="fas fa-plus-circle"></i></button>
      </nav> 
      <div class="list-group">
        <a  ng-repeat="chat in userChats | filter: chatSearch"   class="list-group-item list-group-item-action" ng-click="getChat(chat.chatID)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{chat.title}}</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6" id="selectedChat" ng-if="idChat">
        <nav class="navbar navbar-expand-md navbar-light justify-content-between" id="chatInfo">
            <span>{{infoChat.title}}</span>
            <button type="button" class="btn btn-danger" ng-click="deleteChat()"><i class="fas fa-trash"></i></button>
        </nav>
        <div class="border" id="messageBox">
            <div class="row justify-content-center" ng-repeat="message in chatMessages | orderBy: 'this.data.date_sent'">
                  <div class="col align-self-end mr-4 ml-2" ng-if="message.data.id_sender == uid" data-toggle="modal" data-target=".addPassphrase">  
                            <p id="sentMessage" class="text-md-right text-break bg-primary text-white pr-4"  style="font-size: 1.1em;">
                                <small>{{message.data.username}}</small><br>
                              <span ng-if="!message.decripted">Click para ver</span>
                              <span ng-if="message.decripted">{{message.data.content}}</span>
                              <br>
                            <small style="font-size: 0.5em">{{message.sent}}</small></p>
                  </div> 
                  <div class="col align-self-start ml-4 mr-2" ng-if="message.data.id_sender != uid" data-toggle="modal" data-target=".addPassphrase"> 
                                <p id="receivedMessage" class="text-md-left text-break bg-light text-black pl-4" style="font-size: 1.1em;">
                                  <small>{{message.data.username}}</small><br>
                                  <span ng-if="!message.decripted">Click para ver</span>
                                 <span ng-if="message.decripted">{{message.data.content}}</span>
                                <br>
                                <small style="font-size: 0.5em">{{message.sent}}</small></p>
                  </div>
            </div>
        </div>
        <div id="bottonChat">
            <div class="input-group mb-2" id="textBox">
                <input type="text" class="form-control" ng-model="$parent.chatMessage" id="text" placeholder="Inserta texto">
                <div class="input-group-append">
                  <button class="btn btn-outline-success" type="button" id="button-addon2" ng-click="sendToChat()"><i class="far fa-paper-plane"></i></button>
                </div>
            </div>
        </div>    
    </div>
      <div class="col-6" id="selectedChat" ng-if="!idChat">  
            <div class="border" id="messageBox">
                <div class="row justify-content-center align-items-center h-75">
                      <i class="fas fa-comments" id="chatIcon"></i>
                </div>    
                <div class="row justify-content-center align-items-center">
                    <p>Lista de mensajes</p> 
                </div>
            </div>
      </div>
    </div>  
  </div>  
</div>

<div class="modal fade" id="newChat" tabindex="-1" role="dialog" aria-labelledby="newChat" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatLabel">Nueva conversación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Título</label>
            <input type="text" ng-model="title" class="form-control" id="chatTitle">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Participantes</label>
            <select class="form-control" id="participants" ng-model="name" multiple>
              <option ng-repeat="contact in contacts" value="{{contact.id}}">{{contact.name}} {{contact.lastname}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Llave de chat</label>
            <select class="form-control" id="participants" ng-model="keyname">
              <option ng-repeat="key in keys" value="{{key.keyname}}">{{key.keyname}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createChat()">Crear</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade addPassphrase" tabindex="-1" id="addPassphrase" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Información</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="alert alert-info" role="alert">
              Inserte su clave.
            </div>
            <input type="password" class="form-control" id="frase" ng-model="passphraseChat" id="passphraseChat" >
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="savePass()">Continuar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade decripting" tabindex="-1" id="decryptingSpinner" data-backdrop="false" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Descifrando Mensajes</h5>
              <div class="d-flex justify-content-right">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
          </div>
        </div>
      </div>
    </div>
