#title{
    padding-left: 10px;
}

#form{
    width: 75%;
}

#picture{
    width: 75%;
    display: block;
}


input[type=file] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
}

#img{
    height: 150px;
    width: 150px;
}
.fa-check-double{
    color: greenyellow;
  }