<div class="container-fluid" ng-controller="filesController">
    <div class="row">
        <div class="col-12">
            <form id="downloadFiles" ng-submit="decipher()">
                <h3>Manejo de archivos</h3>
                <div class="form-group">
                    <label for="operation">Elige la operación</label>
                    <select class="form-control" id="operation" ng-model="operation">
                        <option value="1">Cifrar archivo</option>
                        <option value="2">Ver archivo</option>
                    </select>
                </div> 
                <div class="form-group">
                    <label for="file">Selecciona el archivo</label>
                    <div class="custom-file mb-2 mr-sm-2" style="overflow: hidden;">
                            <input type="file" file="file" id="customFile" required>
                            <label class="custom-file-label" id="filelabel" for="customFile">{{file.name}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="keys">Selecciona la llave</label>
                    <select class="form-control" id="fileKey" ng-model="key">
                        <option ng-repeat="key in userKeys" value="{{key.keyname}}">{{key.keyname}}</option>
                    </select>
                </div>  
                <div class="form-group" ng-show="operation == '2'">
                        <label for="user">Clave</label>
                    <input type="password" class="form-control" id="passphrase" ng-model="passphrase" placeholder="">
                </div> 
                <button type="submit" class="btn btn-primary">Descargar</button>
            </form>
        </div>    
    </div>
</div>