#status{
    border: none;
}

#status:focus{
    outline: none
}

.card{
    margin-bottom: 10px;
}

#posts{
    margin-top: 20px;
}

.card-header{
    display: inline-block;
}

#newComment{
    margin-top: 10px;
    background-color: #f8f9fc;
    width: 90%
}

#commentForm{
    background-color: white;
}
#commentButton{
    margin-top: 15px;
    margin-left: 5px;   
}

#userComments{
    background-color: #f8f9fc
}