<div class="container">
    <h2>Inicio</h2>
    <div class="row justify-content-center" ng-controller="postsController">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Nueva publicación 
                </div>
                <div class="card-body m-0" >
                    <form class="container" name="postForm" id="postForm">
                        <input class="border-bottom w-100" id="status" type="text" ng-model="status" placeholder="¿En qué estás pensando?">
                </div>
                        <div class="card-footer text-muted">
                            <ul class="nav justify-content-between" style="width: 100%">
                                <li class="nav-item">
                                    <div class="m-1 ml-3">
                                        <input type="checkbox" class="form-check-input" value="false" ng-model="public" id="public" required>
                                        <label class="form-check-label" for="public">Público</label>
                                    </div>   
                                </li>
                                <li class="nav-item">
                                    <button type="submit" class="btn btn-primary" ng-click="newPost()" ng-disabled="!status">Publicar</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>    
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <div id="posts" ng-init="getPosts()">
                <div ng-repeat="post in posts | orderBy: '-this.data.timestamp'">
                    <div ng-if="post.data.public == 'true'">
                        <div class="card">
                            <div class="card-header">
                                <div class="row justify-content-between">
                                    <span><img class="img-profile rounded-circle mr-2" style="height: 40px;width: 40px; margin-right: 2px;" ng-src="{{post.userPicture}}" onerror="this.src='img/default-user-icon-8.jpg'">{{post.name}} ha publicado</span>
                                    <div ng-if="post.data.user_id == uid">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-primary" ng-click="editPost(post.id,post.data.content)"><i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-danger" ng-click="deletePost(post.id)"><i class="fas fa-trash"></i></button>
                                        </div>
                                    </div>
                                    <div ng-if="post.data.user_id != uid">
                                        <span>{{post.data.posted}}</span>
                                    </div>    
                                </div>    
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{post.data.content}}</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="row justify-content-between">
                                    <button class="btn btn-sm-success" ng-click="goToPost(post.id)">Comentarios</button>
                                    <div  ng-if="post.reactions == 'liked'">
                                        <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)"><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                        <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" disabled><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                    </div>
                                    <div  ng-if="post.reactions == 'disliked'">
                                        <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)" disabled><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                        <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" ><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                    </div>
                                    <div  ng-if="post.reactions == null">
                                        <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)"><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                        <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" ><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                    </div>

                                </div>
                            </div>
                        </div>   
                    </div>
                    <div ng-if="post.data.public == 'false'">
                        <div ng-if="post.data.user_id == uid">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row justify-content-between">
                                        <span><img class="img-profile rounded-circle mr-2" style="height: 40px;width: 40px; margin-right: 2px" ng-src="{{post.userPicture}}" onerror="this.src='../../img/default-user-icon-8.jpg'">{{post.name}} ha publicado</span>
                                        <ul class="navbar-nav ml-auto">
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-danger" ng-click="deletePost(post.id)"><i class="fas fa-trash"></i></button>
                                            </div>
                                        </ul> 
                                    </div>    
                                </div>
                                <div class="card-body">
                                    <p class="card-text" ng-click="goToPost(post.id)">Post Privado. Toque para ver</p>
                                </div>
                                <div class="card-footer text-muted">
                                    <div class="row justify-content-between">
                                        <button class="btn btn-sm-success" ng-click="goToPost(post.id)">Ver post</button>
                                        <div>
                                            <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)"><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                            <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)"><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                         </div>
                    </div>                     
                </div>
            </div>
        </div>
    </div>           
</div>    

<div class="modal fade editPost" tabindex="-1" id="edit" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar publicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <input class="border-bottom w-100 m-0" id="status" type="text"  ng-model="editedContent" placeholder="¿En qué estas pensando?">
            <input value="{{editedPost}}" hidden>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editPost()">Editar</button>
        </div>
    </div>
    </div>
</div>

  