<div class="container" >
    <h2>{{'posts.title' | translate}}</h2>
    <div class="row justify-content-center" ng-controller="postsController">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{'posts.new_post_title' | translate}} 
                </div>
                <div class="card-body m-0" >
                    <form class="container" name="postForm" id="postForm">
                        <input class="border-bottom w-100" id="status" type="text" ng-model="status" placeholder="{{'posts.new_post_placeholder' | translate}}">
                </div>
                        <div class="card-footer text-muted">
                            <ul class="nav justify-content-between" style="width: 100%">
                                <li class="nav-item">
                                    <div class="m-1 ml-3">
                                        <input type="checkbox" class="form-check-input" value="false" ng-model="public" id="public" required>
                                        <label class="form-check-label" for="public">{{'posts.public_check' | translate}}</label>
                                    </div>   
                                </li>
                                <li class="nav-item">
                                    <button type="submit" class="btn btn-primary" ng-click="newPost()" ng-disabled="!status">{{'posts.new_post_button' | translate}}</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>    
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <div id="posts" ng-init="getPosts()">
                <div ng-if="!posts" class="timeline-wrapper">
                    <div class="timeline-item">
                        <div class="animated-background">
                            <div class="background-masker header-top"></div>
                            <div class="background-masker header-left"></div>
                            <div class="background-masker header-right"></div>
                            <div class="background-masker header-bottom"></div>
                            <div class="background-masker subheader-left"></div>
                            <div class="background-masker subheader-right"></div>
                            <div class="background-masker subheader-bottom"></div>
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="post in posts | orderBy: '-this.data.timestamp'">
                    <div ng-if="post.data.public == 'true'">
                        <div class="card">
                            <div class="card-header">
                                <div class="row justify-content-between">
                                    <span><img class="img-profile rounded-circle mr-3" style="height: 40px;width: 40px; margin-right: 2px;" ng-src="{{post.userPicture}}" onerror="this.src='img/default-user-icon-8.jpg'">{{post.name}} {{'posts.post_published' | translate}}</span>
                                    <div ng-if="post.data.user_id == uid">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-primary" ng-click="editPost(post.id,post.data.content)"><i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-danger" ng-click="deletePost(post.id)"><i class="fas fa-trash"></i></button>
                                        </div>
                                    </div>
                                    <div ng-if="post.data.user_id != uid">
                                        <span>{{post.data.posted}}</span>
                                    </div>    
                                </div>    
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{post.data.content}}</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="row justify-content-between">
                                    <button class="btn btn-sm-success" ng-click="goToPost(post.id)">{{'posts.comments_link' | translate}}</button>
                                    <div  ng-if="post.reactions == 'liked'">
                                        <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)"><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                        <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" disabled><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                    </div>
                                    <div  ng-if="post.reactions == 'disliked'">
                                        <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)" disabled><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                        <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" ><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                    </div>
                                    <div  ng-if="post.reactions == null">
                                        <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)"><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                        <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" ><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div ng-if="post.data.public == 'false'">
                        <div ng-if="post.data.user_id == uid">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row justify-content-between">
                                        <span><img class="img-profile rounded-circle mr-3" style="height: 40px;width: 40px; margin-right: 2px" ng-src="{{post.userPicture}}" onerror="this.src='../../img/default-user-icon-8.jpg'">{{post.name}} {{'posts.post_published' | translate}}</span>
                                        <ul class="navbar-nav ml-auto">
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-primary" ng-if="post.data.public == 'false'" ng-click="goToPost(post.id)"><i class="far fa-eye"></i></button>
                                                    <button type="button" class="btn btn-danger" ng-click="deletePost(post.id)"><i class="fas fa-trash"></i></button>
                                            </div>
                                        </ul> 
                                    </div>    
                                </div>
                                <div class="card-body">
                                    <p class="card-text" ng-click="goToPost(post.id)">{{'posts.private_post' | translate}}</p>
                                </div>
                                <div class="card-footer text-muted">
                                    <div class="row justify-content-end">
                                        <div>
                                            <div  ng-if="post.reactions == 'liked'">
                                                    <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)"><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                                    <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" disabled><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                                </div>
                                                <div  ng-if="post.reactions == 'disliked'">
                                                    <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)" disabled><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                                    <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" ><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                                </div>
                                                <div  ng-if="post.reactions == null">
                                                    <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)"><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                                    <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" ><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                         </div>
                    </div>                     
                </div>
            </div>
        </div>
    </div>           
</div>    

<div class="modal fade editPost" tabindex="-1" id="edit" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'posts.edit_post' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <input class="border-bottom w-100 m-0" id="status" type="text"  ng-model="editedContent" placeholder="{{'posts.new_post_placeholder' | translate}}">
            <input value="{{editedPost}}" hidden>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editPost()">{{'posts.edit_post_button' | translate}}</button>
        </div>
    </div>
    </div>
</div>

  