<div ng-controller="navbarController">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" menu>
        <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" ng-submit="getSearch()">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Búsqueda..." aria-label="Search" aria-describedby="basic-addon2" value="search" ng-model="search">
            <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
            </div>
        </div>
        </form>

        <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto" style="justify-content: flex-end">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
                </div>
            </form>
            </div>
        </li>
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle"  id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-init="getFriendRequest()" >
            <i class="fas fa-bell fa-fw"></i>
            <!-- Counter - Alerts -->
            <span class="badge badge-danger badge-counter">{{quantity}}</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown" >
            <h6 class="dropdown-header">
                Solicitudes
            </h6>
            <div ng-if="quantity == '0'">
                <a class="dropdown-item d-flex align-items-center">
                    <div>
                        <span class="font-weight-bold">No hay solicitudes nuevas</span>
                    </div>
                </a>
            </div>    
            <div ng-if="requests.length > '0'">
                <div ng-repeat="request in  requests">
                    <a class="dropdown-item d-flex align-items-center">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <span class="font-weight-bold">{{request.name}} {{request.lastname}} te ha enviado una solicitud de amistad!</span>
                            <div id="buttons">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="acceptRequest(request.requestId)">Aceptar</button>
                                <button type="button" class="btn btn-secondary btn-sm" ng-click="rejectRequest(request.requestId)">Rechazar</button>
                            </div>    
                        </div>
                    </a>
                </div>  
            </div>       
            </div>
        </li>

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-init="getMessages()">
            <i class="fas fa-envelope fa-fw"></i>
            <!-- Counter - Messages -->
            <span class="badge badge-danger badge-counter">{{unreadMessages}}</span>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">
                Mensajes
            </h6>
            <div ng-if="!unreadMessages">
                <a class="dropdown-item d-flex align-items-center">
                    <div>
                        <span class="font-weight-bold">No hay mensajes nuevos</span>
                    </div>
                </a>
            </div>
            <div ng-if="messages.length > '0'">
                <div ng-repeat="message in messages">
                    <div ng-if="message.data.status == 'unread'">
                        <a class="dropdown-item d-flex align-items-center">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate">{{message.data.sender}} te ha enviado un mensaje!</div>
                                <!-- <div class="small text-gray-500">Hace {{message.data.timestamp}}</div> -->
                                <div id="buttons">
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="readMessage(message.id,message.data.status)">Ver</button>
                                        <button type="button" class="btn btn-secondary btn-sm" ng-click="deleteMessage(message.id)">Eliminar</button>
                                </div>    
                            </div>  
                         </a> 
                    </div>   
                </div>   
            </div>     

        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user}}</span>
            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" ng-click="logout()">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" ></i>
                Cerrar sesion
            </a>
            </div>
        </li>

        </ul>

    </nav>
    <!-- End of Topbar -->
</div>    