<div class="d-sm-flex align-items-center justify-content-between mb-4" id = "title">
    <h1 class="h3 mb-0 text-gray-800">Tus llaves</h1>
</div>
<div ng-controller="keysController">

    <div class="row justify-content-center">
    <div class="shadow-sm p-3 mb-5 rounded" id="form" ng-init="checkKeys()">
      <div class-"table-responsive-md">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre<th>

            </tr>
          </thead>
            <tbody>
              <tr ng-repeat="key in keys">
                <td ng-if="key.default == true"><i class="fas fa-star"></i> {{key.name}} </td>
                <td ng-if="key.default == false"><button class="btn btn-sm-link" ng-click="useKeys(key.name)"><i class="far fa-star"></i>{{key.name}}</button>  </td>
                <td id="activated" ng-if="key.activated == true"><i class="far fa-check-circle"></i><button id="borrar" type="button" data-toggle="modal" data-target=".deleteWarning" class="btn btn-danger btn-sm" ng-click="getKeyname(key.name)">Borrar</button></td>
                <td id="activated" ng-if="key.activated == false"><button type="button" class="btn btn-link btn-sm" ng-click="getRecover(key.name)">Activar</button></td>
              </tr>
            </tbody>  
        </table>
        </div>
      </div>  
    </div>  

  <div class="d-sm-flex align-items-center justify-content-between mb-4" id = "title">
      <h1 class="h3 mb-0 text-gray-800">Agregar</h1>
  </div>
      <div class="row justify-content-center">
          <div class="shadow-sm p-3 mb-5 rounded" id="form" ng-init="generarPalabras()">
              <form ng-submit="generateKeys()">
                  <div class="form-group">
                      <label for="keyname">Nombre de la llave</label>
                      <input type="text" id="keyname" ng-model="newName" class="form-control" required>  
                    </div>
                    <div class="form-group">
                      <label for="name">Nombre de usuario</label>
                      <input type="text" class="form-control" ng-model="name" id="name" required>
                    </div>
                    <div class="form-group">
                      <label for="email">Correo</label>
                      <input type="text" class="form-control" ng-model="email" id="email" required>
                    </div>
                    <div class="form-group">
                      <label for="passphrase">Clave para la llave privada (passphrase)</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" ng-model="passphrase" id="passphrase" ng-attr-type="{{ showPassword ? 'text':'password'}}" required>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" id="button-addon2" ng-click="toggleShowPassword()"><i class="far fa-eye"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Frase clave</label>
                      <div class="alert alert-info" role="alert">
                        Debe inserta una frase de doce palabras para resguardar sus llaves, puede usar una frase propia o utilizar la generada por la aplicación
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="alert alert-danger" role="alert">
                        Debe resguardar en un lugar seguro esta serie de palabras, si las pierde no podra acceder a la llave, no deje especios al final de las palabras
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" id="phrase" value= "{{words}}" disabled>
                      </div>
                      <input type="text" class="form-control" id="phrase" ng-model="phrase" required>
                    </div>
                      <button type="submit" data-target=".spinnerModal"class="btn btn-primary">Generar</button>
              </form>
            </div>  
          </div>  

  </div> 
</div>  
<!--Modal-->
<div class="modal fade deleteWarning" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          Esta acción es altamente destructiva, al borrar su llave perderá acceso a todo su contenido previo que haya sido encriptado (chats,archivos,mensajes)
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Me arrepiento</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteKeys()">Seguir adelante</button>
      </div>
    </div>
  </div>
</div>


  <div class="modal fade changeKeys" tabindex="-1" id="changeKey" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Informacion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="alert alert-info" role="alert">
                Para activar su clave, introduzca sus frase de 12 palabras
              </div>
              <input type="text" class="form-control" id="frase" ng-model="phraseRecovery" id="phraseRecovery" >
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-dark" ng-click="closeRecover()">Cancelar</button>
            <button type="button" class="btn btn-success" ng-click="checkWords()">Continuar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade appPass" tabindex="-1" id="appPass" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Información</h5>
          </div>
          <div class="modal-body">
              <div class="form-group">
              <div class="alert alert-info" role="alert">
                  Para continuar introduzca su clave de aplicación.
              </div>
              <div ng-if="message">
                  <div class="alert alert-danger" role="alert">
                          {{message}}
                  </div>
              </div>
              <input type="password" class="form-control" id="frase" ng-model="appKey" id="appKey" placeholder="" >
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" ng-click="newPassword()">Continuar</button>
          </div>
          </div>
      </div>
  </div>    

<div class="modal fade spinerModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
