<div class="container-fluid" ng-controller="reposController">
        <h2>Repositorios</h2>
        <div class="row justify-content-center">
                <div class="col-10 align-self-center">
                    <div class="shadow-sm p-3 mb-5 rounded">
                        <form id="newRepo" ng-submit="readFile()">
                            <h5>Subir Archivo</h5>
                            <hr>
                            <div class="form-group">
                                <label for="repoName">Directorio: {{repository}}/{{directory}}</label>
                            </div>
                            <div class="form-group">
                                <label for="repoName">Nombre del archivo</label>
                                <input type="text" class="form-control" ng-model="fileName" id="fileName" required>
                            </div>
                            <div class="form-group">
                                    <label for="repoDescription">Mensaje del commit</label>
                                    <input type="text" class="form-control" ng-model="commit" id="commit" required>
                            </div>
                            <div class="form-group">
                                <label for="repoDescription">Archivo</label>
                                <div class="custom-file mb-2 mr-sm-2" style="overflow: hidden;">
                                        <input type="file" file="file" id="customFile" required>
                                        <label class="custom-file-label" id="filelabel" for="customFile">{{file.name}}</label>
                                </div>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="private" ng-model="publicFile">
                                <label class="form-check-label" for="public">Público</label>
                            </div>
                            <div ng-show="!publicFile" class="form-group">
                                    <label for="keys">Llave para proteger el archivo</label>
                                    <select class="form-control" id="keys" ng-model="$parent.repoKey">
                                      <option ng-repeat="key in userKeys" value="{{key.keyname}}">{{key.keyname}}</option>
                                    </select>
                              </div> 
                            <button type="submit" class="btn btn-outline-info btn-sm">Crear</button>
                        </form>
                    </div>    
                </div>           
            </div>
    </div>