<div class="container-fluid" ng-controller="reposController">
    <h2>{{'repositories.title' | translate}}</h2>
    <div class="row justify-content-center">
            <div class="col-12 align-self-center">
                <div class="shadow-sm p-3 mb-5 rounded">
                    <form id="newRepo">
                        <h5>{{'repositories.new_repo' | translate}}</h5>
                        <hr>
                        <div class="form-group">
                            <label for="repoName">{{'repositories.name_repo' | translate}}</label>
                            <input type="text" class="form-control" ng-model="name" id="repoName" required>
                        </div>
                        <div class="form-group">
                                <label for="repoDescription">{{'repositories.decription' | translate}}</label>
                                <input type="text" class="form-control" ng-model="description" id="repoDescription" required>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="private" ng-model="privateRepo">
                            <label class="form-check-label" for="private">{{'repositories.private' | translate}}</label>
                        </div>
                        <button type="button" ng-click="createRepo()" class="btn btn-outline-info">{{'repositories.create' | translate}}</button>
                    </form>
                </div>    
            </div>           
        </div>
</div>