<div id="contatcs" ng-controller="contactsController">
    <div class="m-3">
        <h2>{{'contacts.title' | translate}}</h2>        
    </div>
    <div class="content" ng-init="getContacts()">
        <div ng-repeat="contact in contacts">    
            <div id ="card" class="card text-left">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img ng-if="contact.photo" id="img" ng-src="{{contact.photo}}" class="img-thumbnail rounded m-2">
                        <img ng-if="!contact.photo" id="img" src="img/default-user-icon-8.jpg" class="img-thumbnail rounded m-2">
                    </div>
                    <div class="col-md-10">   
                        <div class="card-body" style="height: 100%;">
                            <h5 class="card-title">{{contact.name}} {{contact.lastname}}</h5>
                            <p class="card-text">{{contact.bio}}</p>
                            <button class="btn btn-primary" ui-sref="dash.publications({user_id: contact.id})">{{'contacts.profile' | translate}}</button>
                        </div>
                    </div> 
                </div>       
            </div>  
        </div>          
    </div>    
</div>    

