<div id="contatcs" ng-controller="contactsController">
    <div class="content" ng-init="getContacts()">
        <div ng-repeat="contact in contacts">    
            <div id ="card" class="card">
                <div class="row no-gutters">
                        <div class="col-md-4">
                            <img ng-if="contact.photo" id="img" ng-src="{{contact.photo}}" class="card-img">
                            <img ng-if="!contact.photo" id="img" src="../../img/default-user-icon-8.jpg" class="card-img">
                        </div>
                    <div class="col-md-8">   
                        <div class="card-body">
                            <h5 class="card-title">{{contact.name}} {{contact.lastname}}</h5>
                            <p class="card-text">{{contact.bio}}</p>
                            <button class="btn btn-primary" ui-sref="dash.publications({user_id: contact.id})">Ver perfil</button>
                        </div>
                    </div> 
                </div>       
            </div>  
        </div>          
    </div>    
</div>    

