<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="media justify-content-center" style="margin: auto">
      <img class="align-self-center" src="../../img/vision.svg" style="width: 30%;height: 30%;" alt="Generic placeholder image">
    </div>

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                </div>
                <div ng-controller="LoginController">
                <form class="user" ng-submit="sendData()">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="email" ng-model="email" aria-describedby="emailHelp" placeholder="Introduzca su dirección de correo">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="password" ng-model="password" placeholder="Contraseña" required>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Iniciar Sesión
                  </button>
                </form>
                <hr>
                <div class="text-center">
                  <a ui-sref="checkEmail"><h5><small>Olvidó su contraseña?</small></h5></a>
                </div>
                <div class="text-center">
                  <a ui-sref="signup"><h5><small>Usuario nuevo? Regístrate</small></h5></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>