#title{
    padding-left: 10px;
}

#form{
    width: 75%;
}

#picture{
    width: 75%;
    display: block;
}

#img{
    height: 150px;
    width: 150px;
}
.fa-check-double{
    color: greenyellow;
  }

  #imageButton {
    height: 40px;
    color: white;
    border: none;
    margin: 5px;
    font-weight: bold;
  }