<div class="container" ng-controller="publicationsController">
    <div class="card mb-3" ng-init="getUserData()">
        <div class="row no-gutters">
          <div class="col-md-4">
                <img ng-if="userPicture" class="img-thumbnail rounded m-2" style="height: 200px; width: 200px;"  ng-src="{{userPicture}}">
                <img ng-if="!userPicture" class="img-thumbnail rounded m-2" style="height: 200px; width: 200px;" src="img/default-user-icon-8.jpg">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">{{name}} {{lastname}}</h4>
              <h5 class="card-title">{{username}}</h5>
              <p class="card-text">{{bio}}</p>
              <p class="card-text">
                  <small class="text-muted" ng-if="facebook == true">
                        {{'publications.facebook' | translate}} <i class="fas fa-check-double"></i>
                 </small>
                 <small class="text-muted" ng-if="github">
                    {{'publications.github' | translate}} <i class="fas fa-check-double"></i>
                 </small>
                 <small class="text-muted" ng-if="twitter">
                    {{'publications.twitter' | translate}} <i class="fas fa-check-double"></i>
                 </small>
              </p>
            </div>
          </div>
        </div>
    </div> 
    <div id="title">
        <h2>{{'publications.title' | translate}}</h2>
    </div>
    <div id="published" ng-init="getFeedbacks()">
        <div ng-if="!feedbacks" class="timeline-wrapper">
                <div class="timeline-item">
                    <div class="animated-background">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker subheader-right"></div>
                        <div class="background-masker subheader-bottom"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker content-second-end"></div>
                        <div class="background-masker content-third-line"></div>
                        <div class="background-masker content-third-end"></div>
                    </div>
                </div>
        </div>
        <div ng-repeat="feedback in feedbacks | orderBy: '-this.data.timestamp'">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <p>
                        <img class="img-profile rounded-circle mr-2" style="height: 60px;width: 60px; margin: 2px" ng-src="{{feedback.picture}}">
                        {{feedback.data.sender}}<br>
                        {{feedback.data.posted}}</p>
                    </div>    
                </div>
                <div class="card-body">
                    <p class="card-text">{{feedback.data.content}}</p>
                </div>
                <div class="card-footer text-muted">
                    <div class="row justify-content-end">
                        <div>
                            <button type="button" class="btn btn-outline-primary" ng-click="likeFeedback(feedback.id)"><i class="fas fa-thumbs-up"></i> {{feedback.data.likes}} </button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>     
    </div>    
</div>