<div class="container" ng-controller="publicationsController">
    <div class="rounded-pill" id="userProfile" ng-init="getUserData()">
        <div class="row justify-content-center">
            <div class="media">
                <div class="media-body">
                    <h4 class="mt-0">{{name}} {{lastname}}</h4>
                    <h5 class="mt-0">{{username}}</h5>
                    {{bio}}
                </div>
                <img ng-if="userPicture" class="align-self-center img-profile rounded-circle" style="height: 60px;width: 60px" ng-src="{{userPicture}}">
                <img ng-if="!userPicture" class="align-self-center img-profile rounded-circle" style="height: 60px;width: 60px" src="img/default-user-icon-8.jpg">
            </div> 
        </div>     
    </div>
    <div id="title">
        <h2>Feedbacks compartidos</h2>
    </div>
    <div id="published" ng-init="getFeedbacks()">
        <div ng-repeat="feedback in feedbacks | orderBy: '-this.data.timestamp'">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <p>
                        <img class="img-profile rounded-circle" style="height: 60px;width: 60px; margin: 2px" ng-src="{{feedback.picture}}">
                        De {{feedback.data.sender}}<br>
                        {{feedback.data.timestamp}}</p>
                    </div>    
                </div>
                <div class="card-body">
                    <p class="card-text">{{feedback.data.content}}</p>
                </div>
                <div class="card-footer text-muted">
                    <div class="row justify-content-end">
                        <div>
                            <button type="button" class="btn btn-outline-primary" ng-click="likeFeedback(feedback.id)"><i class="fas fa-thumbs-up"></i> {{feedback.data.likes}} </button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>     
    </div>    
</div>