#surveys{
    width: 100%;
}

#days{
    width: 10%;
}

@media (max-width: 800px){
    #newSurveys{
      margin-left: -40px;
    }
  }
  
  @media (min-width: 1600px){
    #newSurveys{
      padding-left: 60px
    }
  }
  
