<div class="d-sm-flex align-items-left justify-content-start" id = "title">
    <h1 class="h3 text-gray-800">{{'keys.title' | translate}}</h1>
</div>
<div class="d-sm-flex align-items-left justify-content-start" id = "title">
    <p>{{'keys.undertitle' | translate}}</p>
</div>

<div ng-controller="keysController">

    <div class="row justify-content-center m-1" ng-init="checkKeys()" >
      <div class="shadow-sm p-3 mb-5 rounded  w-100 m-2" id="form" ng-if="keys">
        <div class="table-responsive-md">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{{'keys.table_name' | translate}}<th>
              </tr>
            </thead>
              <tbody>
                <tr ng-repeat="key in keys">
                  <td ng-if="key.default == true"><i class="fas fa-star" style="color: blue;"></i> {{key.name}} </td>
                  <td ng-if="key.default == false"><i class="far fa-star" ng-click="useKeys(key.name)"></i>{{key.name}}</a> </td>
                  <td id="activated" ng-if="key.activated == true"></i><button id="borrar" type="button" data-toggle="modal" data-target=".deleteWarning" class="btn btn-danger" ng-click="getKeyname(key.name)"><i class="fas fa-trash"></i></button></td>
                  <td id="activated" ng-if="key.activated == false"><button type="button" class="btn btn-link btn-sm" ng-click="getRecover(key.name)">{{'keys.activate' | translate}}</button></td>
                </tr>
              </tbody>  
          </table>
          </div>
        </div>
        <div class="shadow-sm p-3 mb-5 rounded" id="form" ng-if="!keys">
            <span>{{'keys.no_keys' | translate}}</span>
        </div>   
    </div>  

  <div class="d-sm-flex align-items-center justify-content-between" id = "title">
      <h1 class="h3 mb-1 text-gray-800">{{'keys.add_title' | translate}}</h1>
  </div>
  <div class="d-sm-flex align-items-left justify-content-start" id = "title">
      <p>{{'keys.add_undertitle' | translate}}</p>
  </div>
  
      <div class="row justify-content-center m-3">
          <div class="shadow-sm p-3 mb-5 rounded w-100" id="form" ng-init="generarPalabras()">
              <form ng-submit="generateKeys()">
                  <div class="form-group">
                      <label for="keyname">{{'keys.keyname' | translate}}</label>
                      <input type="text" id="keyname" ng-model="newName" class="form-control" required>  
                    </div>
                    <div class="form-group">
                      <label for="name">{{'keys.username' | translate}}</label>
                      <input type="text" class="form-control" ng-model="name" id="name" required>
                    </div>
                    <div class="form-group">
                      <label for="email">{{'keys.email' | translate}}</label>
                      <input type="text" class="form-control" ng-model="email" id="email" required>
                    </div>
                    <div class="form-group">
                      <label for="passphrase">{{'keys.pass' | translate}}</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" ng-model="passphrase" id="passphrase" ng-attr-type="{{ showPassword ? 'text':'password'}}" required>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" id="button-addon2" ng-click="toggleShowPassword()"><i class="far fa-eye"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">{{'keys.recovery' | translate}}</label>
                      <div class="alert alert-info" role="alert">
                        {{'keys.alert' | translate}}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="alert alert-danger" role="alert">
                        {{'keys.alert2' | translate}}
                      </div>
                      <div class="form-group">
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" ng-model="nmemonic" id="nmemonic" required>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" id="button-addon2" ng-click="generarPalabras()"><i class="fas fa-sync-alt"></i></button>
                          <button class="btn btn-outline-secondary" type="button" id="clipboard" data-toggle="tooltip" data-placement="top" title="Copiar" ng-click="copy()"><i class="fas fa-clipboard"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">{{'keys.put_phrase' | translate}}</label>
                      <input type="text" class="form-control" ng-model="phrase" id="phrase" required>
                    </div>
                      <button type="submit" data-target=".spinnerModal"class="btn btn-primary">{{'keys.new_key' | translate}}</button>
              </form>
            </div>  
          </div>  

  </div> 
</div>  
<!--Modal-->
<div class="modal fade deleteWarning" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'keys.warning' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          {{'keys.delete_warning' | translate}}
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal"> {{'keys.back_button' | translate}}</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteKeys()"> {{'keys.delete_button' | translate}}</button>
      </div>
    </div>
  </div>
</div>


  <div class="modal fade changeKeys" tabindex="-1" id="changeKey" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> {{'keys.modal_title' | translate}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="alert alert-info" role="alert">
                {{'keys.ask_recovery' | translate}}
              </div>
              <div ng-if="error != false" class="alert alert-danger" role="alert">
                  {{error}}
              </div>
              <input type="text" class="form-control" id="frase" ng-model="phraseRecovery" id="phraseRecovery" >
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-dark" ng-click="closeRecover()">{{'keys.cancel_button' | translate}}</button>
            <button type="button" class="btn btn-success" ng-click="checkWords()">{{'keys.continue' | translate}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade appPass" tabindex="-1" id="appPass" role="dialog" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{'keys.modal_title' | translate}}</h5>
          </div>
          <div class="modal-body">
              <div class="form-group">
              <div class="alert alert-info" role="alert">
                {{'keys.ask_pass' | translate}}
              </div>
              <div ng-if="error != false">
                  <div class="alert alert-danger" role="alert">
                          {{error}}
                  </div>
              </div>
              <input type="password" class="form-control" id="frase" ng-model="keyPass" id="keyPass" placeholder="" >
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" ng-click="newPassword()">Continuar</button>
          </div>
          </div>
      </div>
  </div>    

<div class="modal fade spinerModal" tabindex="-1" id="keySpinner" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        {{'keys.loading' | translate}}
      </div>
      <div class="modal-body">
          <div class="d-flex justify-content-center">
              <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
          </div>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
