
  <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="media justify-content-center mx-auto" style="margin-top: 20px">
              <img class="align-self-center" src="../../img/vision.svg" style="width: 60%;height: 60%;" alt="Generic placeholder image">
          </div>
        
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Crear cuenta</h5>
            <div ng-controller="SignUpController">
            <form class="user" id="register" ng-submit="sendData()">
            <div class="form-group">
                    <input type="text" id="name" ng-model="name" placeholder="Nombre" class="form-control form-control-user" required autofocus>
            </div>
            <div class="form-group">
                    <input type="text" id="lastname" ng-model="lastname" placeholder="Apellido" class="form-control form-control-user" required>
            </div>
              <div class="form-group">
                <input type="email" id="email" ng-model="email" class="form-control form-control-user" placeholder="Correo eléctronico" required>
              </div>
              <div class="form-group">
                <input type="password" id="password" ng-model="password" placeholder="Contraseña" class="form-control form-control-user" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
              </div>
              <div class="form-group">
                  <input type="password" id="password2" ng-model="password2" placeholder="Repetir ontraseña" class="form-control form-control-user" required>
              </div>
              <small ng-if="password != password2" style="color: red">Las contraseñas deben coincidir</small>
              <div class="form-group">
                    <input type="text" id="username" ng-model="username" placeholder="Usuario" class="form-control form-control-user" required>
            </div>
            <div class="form-group">
                    <input type="text" id="phone" ng-model="phone" placeholder="Telefono"class="form-control form-control-user" required>
            </div>
              <button class="btn btn-primary btn-user btn-block" type="submit">Registrar</button>
              <a class="btn btn-secundary btn-user btn-block" ui-sref="login">Regresar</a>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  