<div class="container-fluid" ng-controller="configController">
   <h2>Añade tus redes</h2>
   <p>Agrega redes sociales para verificar tu identidad</p>
   <div id="fb-root"></div>

   <div class="shadow-sm p-3 mb-5 rounded" id="networks" ng-init="getSocials()">
                <br>
                <div id="facebook" ng-if="validFacebook == false">
                        <div class="form-group">  
                                <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email,user_posts"></div>      
                        </div>
                        <div class="form-group" ng-if="faceLogin">
                                <div class="alert alert-info" role="alert">
                                        Has iniciado sesión con Facebook, ahora pare validar coloca este mensaje en tus estados de Facebook y presiona verificar.
                                </div>
                                <div class="alert alert-info" role="alert">
                                        "{{validationMessage}}"
                                </div> 
                                <button type="button" class="btn btn-primary btn-sm" ng-click="verify()">Verificar</button>
                        </div>  
                </div> 
                <div id="facebook" ng-if="validFacebook == true">     
                        <p>Facebook <i class="fas fa-check-double"></i></p>   
                </div>              
                <div class="form-group" id="twitter" ng-if="validTwitter == false">  
                        <Label>Twitter</Label>
                        <button type="button" class="btn btn-outline-info" ng-click="showTwitterMessage()">Añadir</button>
                        <div class="form-group m-1" ng-if="showTwitter">
                                <Label>Usuario de twitter</Label>
                                <input type="text" class="form-control mb-3" ng-model="$parent.$parent.twitterUsername">
                                <div class="alert alert-info" role="alert">
                                        Para validar su twitter coloque el siguiente mensaje en su timeline y oprima verificar
                                </div>
                                <div class="alert alert-info" role="alert">
                                        "{{validationMessage}}"
                                </div> 
                                <button type="button" class="btn btn-primary btn-sm" ng-click="getTwitterFeed()">Verificar</button>
                        </div> 
                        
                </div>  
                <div id="twitter" ng-if="validTwitter == true">     
                        <p>Twitter <i class="fas fa-check-double"></i></p>   
                </div>    
                <div class="form-group" id="github" ng-if="validGitHub == true">
                        <p>Github <i class="fas fa-check-double"></i></p>
                </div>
                <div class="form-group" id="github" ng-if="validGitHub == false">
                        <a class="nav-link" ui-sref="dash.repos">Github</a>
                </div>
        </div>        
</div>
