<div class="container-fluid" ng-controller="configController">
   <h2>{{'networks.title' | translate}}</h2>
   <p>{{'networks.undertitle' | translate}}</p>
   <div id="fb-root"></div>

   <div ng-init="getSocials()">
                <div class="card">
                        <div class="card-header">
                                {{'networks.facebook' | translate}}
                        </div>
                        <div class="card-body" ng-if="validFacebook == false">
                                <div class="form-group">  
                                        <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email,user_posts"></div>      
                                </div>
                                <div class="form-group" ng-if="faceLogin">
                                        <div class="alert alert-info" role="alert">
                                                {{'networks.fb_message' | translate}}                                                        </div>
                                        <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="validationMessage" value="{{validationMessage}}" disabled>
                                                <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" id="clipboard" data-toggle="tooltip" data-placement="top" title="Copiar" ng-click="copy()"><i class="fas fa-clipboard"></i></button>
                                                </div>
                                        </div> 
                                        <button type="button" class="btn btn-primary" ng-click="verify()">{{'networks.verify' | translate}}</button>
                                </div>  
                        </div>
                        <div class="card-body" ng-if="validFacebook == true">
                                        <p>{{'networks.facebook' | translate}} <i class="fas fa-check-double"></i></p>   
                        </div>        
                </div> 
                <div class="card">
                        <div class="card-header">
                                {{'networks.twitter' | translate}}
                        </div>
                        <div class="card-body" ng-if="validTwitter == false">
                                <div class="form-group m-1" ng-init="showTwitterMessage()">
                                        <Label>{{'networks.tw_user' | translate}}</Label>
                                        <input type="text" class="form-control mb-3" ng-model="$parent.$parent.twitterUsername">
                                        <div class="alert alert-info" role="alert">
                                                {{'networks.tw_message' | translate}}
                                        </div>
                                        <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="validationMessage" value="{{validationMessage}}" disabled>
                                                <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary" type="button" id="clipboard" data-toggle="tooltip" data-placement="top" title="Copiar" ng-click="copy()"><i class="fas fa-clipboard"></i></button>
                                                </div>
                                        </div>
                                        <button type="button" class="btn btn-primary" ng-click="getTwitterFeed()">{{'networks.verify' | translate}}</button>
                                </div> 
                               
                        </div>
                        <div class="card-body" ng-if="validTwitter == true">
                                <p>{{'networks.twitter' | translate}} <i class="fas fa-check-double"></i></p>     
                        </div>        
                </div>  
                <div class="card">
                        <div class="card-header">
                                {{'networks.github' | translate}}
                        </div>
                        <div class="card-body" ng-if="validGitHub == false">
                                <div class="alert alert-primary" role="alert">
                                        {{'networks.gh_message' | translate}}
                                        </div>
                                        <div class="shadow-sm p-3 mb-5 rounded" id="form" ng-init="requestData()">
                                        <form ng-submit="getToken()">
                                                <div class="form-group">
                                                        <label for="name">{{'networks.gh_user' | translate}}</label>
                                                        <input type="text" class="form-control" ng-model="$parent.username" id="username">
                                                </div>
                                                <div class="form-group">
                                                        <label for="lastname">{{'networks.password' | translate}}</label>
                                                        <input type="password" class="form-control" id="password" ng-model="$parent.password">
                                                </div>
                                                <button type="submit" class="btn btn-primary">{{'networks.send' | translate}}</button>
                                        </form>
                                </div>  
                                
                        </div>
                        <div class="card-body" ng-if="validGitHub == true">
                                        <p>{{'networks.github' | translate}} <i class="fas fa-check-double"></i></p>
                        </div>        
                </div>        
   </div>        
</div>
