#status{
    border: none;
}

#status:focus{
    outline: none
}

.card{
    margin-bottom: 10px;
}

#posts{
    margin-top: 20px;
}

.card-header{
    display: inline-block;
}

#newComment{
    background-color: #f8f9fc;
}

#commentForm{
    background-color: white;
}


#userComments{
    background-color: #f8f9fc
}

#postForm{
    padding-left: 0; 
    padding-right: 0;
}