<div class="container">
        <h2>{{'posts.post_link' | translate}}</h2>
    <div class="row justify-content-center" ng-controller="postsController">   
        <div class="col-12"> 
            <div ng-if="!post" class="timeline-wrapper">
                    <div class="timeline-item">
                        <div class="animated-background">
                            <div class="background-masker header-top"></div>
                            <div class="background-masker header-left"></div>
                            <div class="background-masker header-right"></div>
                            <div class="background-masker header-bottom"></div>
                            <div class="background-masker subheader-left"></div>
                            <div class="background-masker subheader-right"></div>
                            <div class="background-masker subheader-bottom"></div>
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>
                    </div>
            </div>
            <div class="card" ng-show="post" ng-init="loadPost()">
            <div class="card-header">
                    <div class="row justify-content-between">
                        <span ng-if="post.userPicture"><img class="img-profile rounded-circle mr-3" ng-src="{{post.userPicture}}" style="height: 60px;width: 60px" onerror="this.src='img/default-user-icon-8.jpg'">{{post.name}} {{'posts.post_published' | translate}}</span>
                        <span ng-if="!post.userPicture"><img class="img-profile rounded-circle mr-3" src="img/default-user-icon-8.jpg" style="height: 60px;width: 60px" onerror="this.src='img/default-user-icon-8.jpg'">{{post.name}} {{'posts.post_published' | translate}}</span>
                        <div class="btn-group" role="group"  ng-if="post.data.user_id == uid" aria-label="Basic example" style="height: 50%">
                            <button type="button" class="btn btn-primary" ng-if="post.data.public == 'false'" ng-disabled="post.decrypted" ng-click="askPassphrase(post.data.content)"><i class="far fa-eye"></i></button>
                            <button type="button" class="btn btn-primary" ng-if="post.data.public == 'true'" ng-click="editPost(post.id,post.data.content)"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" ng-click="deletePost(post.id)"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>    
                </div>
                <div class="card-body">
                    <p class="card-text"><pre>{{post.data.content}}</pre></p>
                </div>
                <div class="card-footer text-muted">
                    <div class="row justify-content-end">
                        <div>
                                <div  ng-if="post.reactions == 'liked'">
                                        <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)"><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                        <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" disabled><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                    </div>
                                    <div  ng-if="post.reactions == 'disliked'">
                                        <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)" disabled><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                        <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" ><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                    </div>
                                    <div  ng-if="post.reactions == null">
                                        <button type="button" class="btn btn-outline-danger" ng-click="likeStatus('dislike',post.id)"><i class="fas fa-thumbs-down">{{post.data.dislikes}}</i></button>
                                        <button type="button" class="btn btn-outline-primary" ng-click="likeStatus('like',post.id)" ><i class="fas fa-thumbs-up"></i>{{post.data.likes}}</button>
                                    </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div id="comments" ng-if="post" class="bg-white w-100" ng-init="getComments()">
                <div id="background">
                    <form class="form-inline" id="commentForm">
                        <div class="input-group mb-3 col-md-12 p-0">
                            <input type="text" class="form-control"  ng-model="$parent.newComment" id="newComment"  placeholder="{{'posts.comment_placeholder' | translate}}" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                    <button id="commentButton" class="btn btn-success" ng-click="sendComment()"><i class="fas fa-share"></i></button>
                            </div>
                        </div>
                    </form>
                </div>    
                <div ng-repeat="comment in comments">
                    <div id="userComments" class="m-3 rounded-pill">
                        <div class="row justify-content-between">
                             <p class="m-3 p-1"> 
                                 <img ng-src="{{comment.picture}}" id="userPicture" class="img-profile rounded-circle" ng-src="{{profilePicture}}" onerror="this.src='img/default-user-icon-8.jpg'">
                                  {{comment.username}}: {{comment.comment}}
                            </p>
                            <div class="btn-group align-self-center" role="group" aria-label="Basic example" style="margin-right: 30px;">
                                <button type="button" id="opButton" class="btn btn-primary btn-sm" ng-click="editComment(comment.id,comment.comment)"><i class="fas fa-edit"></i></button>
                                <button type="button" id="opButton" class="btn btn-danger btn-sm" ng-click="deleteComment(comment.id)"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>   
                    </div>
                </div>     

            </div>   
        </div>    
    </div>
</div>    

<div class="modal fade Passphrase" tabindex="-1" id="Passphrase" role="dialog" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{'posts.modal_title' | translate}}</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                <div class="alert alert-info" role="alert">
                    {{'posts.ask_pass' | translate}}
                </div>
                <div ng-if="message">
                    <div class="alert alert-danger" role="alert">
                            {{message}}
                    </div>
                </div>
                <input type="password" class="form-control" id="frase" ng-model="passphrase" id="passphrase" placeholder="" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="decryptPost(passphrase)">{{'posts.decrypt_button' | translate}}</button>
            </div>
            </div>
        </div>
    </div> 

<div class="modal fade editComment" tabindex="-1" id="editComment" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'posts.edit_comment' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <input class="border-bottom w-100 m-0" id="status" type="text"  ng-model="editedCommentContent" value="editedCommentContent">
            <input value="{{editedCommentId}}" hidden>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editComment(editedCommentId,editedCommentContent)">{{'posts.edit' | translate}}</button>
        </div>
    </div>
    </div>
</div>
    