<div class="container" ng-controller="messagesController" id="messageList">
    <div id="header">
        <h2>Bandeja de entrada</h2>
        <button type="button" id="newCorreo" ui-sref="dash.messages" class="btn btn-info"><i class="fas fa-plus-circle"></i></button>
    </div>
    <div id ="trays">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" >Entrada</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="dash.outbox">Enviados</a>
            </li>
        </ul>
    </div>    
    <div class="list-group " ng-init="getMessages('inbox')">
        <div ng-repeat="correo in correos | orderBy: 'this.sent'">
            <div ng-if="correo.data.status == 'unread'">
                <a id="mail" class="list-group-item list-group-item-action w-100">
                    <div class="d-flex justify-content-between" ng-click="readMessage(correo.id,correo.data.status)">
                        <h5 class="sm-1">De: {{correo.data.sender}}</h5>
                        <small>{{correo.sent}}</small>                            
                        <div class="btn-group">
                         <button type="button" class="btn btn-success" ng-click="readMessage(correo.id,correo.data.status)"><i class="far fa-eye"></i></button>
                         <button type="button" class="btn btn-danger" ng-click="deleteMessage(correo.id)"><i class="far fa-trash-alt"></i></button>                        
                        </div>
                    </div>
                </a>
            </div>
            <div ng-if="correo.data.status == 'read'">
                <a id="mail" class="list-group-item list-group-item-secondary list-group-item-action w-100">
                    <div class="d-flex justify-content-between" ng-click="readMessage(correo.id,correo.data.status)">
                        <h5 class="sm-1">De: {{correo.data.sender}}</h5>
                        <small>{{correo.sent}}</small>
                        <div class="btn-group">
                                <button type="button" class="btn btn-success" ng-click="readMessage(correo.id,correo.data.status)"><i class="far fa-eye"></i></button>
                                <button type="button" class="btn btn-danger" ng-click="deleteMessage(correo.id)"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>    
</div>

<div class="modal fade passModal" tabindex="-1" id="messageSpinner" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              Enviando mensaje
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-success" role="status">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            
            </div>
          </div>
        </div>
    </div>


<div class="modal fade mailPass" tabindex="-1" id="appPass" role="dialog" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                <div class="alert alert-info" role="alert">
                    Introduzca la clave de la llave {{keyname}}
                </div>
                <div ng-if="message">
                    <div class="alert alert-danger" role="alert">
                            {{message}}
                    </div>
                </div>
                <input type="password" class="form-control" id="frase" ng-model="mailPass" id="keyPass" placeholder="" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="checkMailPass()">Continuar</button>
            </div>
            </div>
        </div>
    </div>    