<div class="container">
  <div ng-controller="messagesController" ng-init="getContacts()">
    <form id="newMessage" ng-submit="getPublicKey(id_recipient)">
      <div class="form-group">
        <label for="user">Enviar mensaje a:</label>
        <select class="form-control" id="participants" ng-model="id_recipient">
            <option ng-repeat="contact in contacts" value="{{contact.id}}">{{contact.name}} {{contact.lastname}}</option>
          </select>
      </div>
      <div class="form-group">
        <label for="message">Mensaje</label>
        <textarea class="form-control" id="message" ng-model="$parent.message" rows="3"></textarea>
      </div>
      <div class="form-group">
            <label for="keys">Elige tu llave de chat</label>
            <select class="form-control" id="keys" ng-model="$parent.chatKey">
              <option ng-repeat="key in userKeys" value="{{key.keyname}}">{{key.keyname}}</option>
            </select>
      </div>  
      <div class="form-group">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" id="signMessage" ng-model="signMessage">
              <label class="form-check-label" for="signMessage">
                Firmar mensaje
              </label>
          </div>
          <div ng-show="signMessage">
              <input type="password" class="form-control" id="passphrase" ng-model="$parent.passphrase" placeholder="Passphrase de la llave">
          </div>
      </div> 
        <button type="submit" class="btn btn-primary">Enviar mensaje</button>
      </form>
    </form>
  </div>
</div>


<div class="modal fade spinerModal" tabindex="-1" id="messageSpinner" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
            Enviando mensaje....
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-success" role="status">
                  <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>