#newMessage{
  display: block;
  width: 50%;
}

#keys{
  display: block;
  width: 30%;
}


#correo{
  width: 90%;
}

#header{
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  width: 90%;
}
#newCorreo{
  display: right;
  display: inline-block;
  vertical-align: top;
}

#messageList{
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
}

#mail{
  margin-bottom: 3px;
}

@media (max-width: 800px){
  #newMessageButton{
    margin-left: -33px;
  }
}

@media (min-width: 1600px){
  #newMessageButton{
    padding-left: 80px
  }
}


#newMessageButton{
  padding-left: 33px;

}