<div class="container" ng-controller="messagesController" id="messageList">
        <div class="row">
                <div class="col-11">
                    <h2>{{'messages.outbox' | translate}}</h2>
                </div>
                <div class="col-1" id="newMessageButton">
                     <button type="button" id="newCorreo" ui-sref="dash.messages" class="btn btn-info"><i class="fas fa-plus-circle"></i></button>
                </div>
        </div>
        <div id ="trays">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="dash.inbox">{{'messages.tab-inbox' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">{{'messages.tab_outbox' | translate}}</a>
                </li>
            </ul>
        </div>    
        <div class="list-group" ng-init="getMessages('outbox')">
            <div ng-repeat="correo in correos | orderBy: '-this.data.timestamp'">
                <a id="mail"class="list-group-item list-group-item-light list-group-item-action w-100">
                    <div class="d-flex w-90 justify-content-between">
                        <h5 class="sm-1">{{'messages.to' | translate}} {{correo.data.r_username}}</h5>
                        <small>{{correo.sent}}</small>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#readPass" ng-click="askPassphrase(correo.id,correo.data.keys,correo.data.content,correo.data.status)"><i class="far fa-eye"></i></button>
                            <button type="button" class="btn btn-danger" ng-click="deleteMessage(correo.id)"><i class="far fa-trash-alt"></i></button>                        
                        </div>
                    </div>
                </a>
            </div>
        </div>    
    </div>

    <div class="modal fade readModal" tabindex="-1" id="readPass" role="dialog" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true" ng-controller="messagesController">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">{{'messages.ask_pass' | translate}} {{messageKeyname}}</h5>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                        <div ng-if="message">
                            <div class="alert alert-danger" role="alert">
                                    {{message}}
                            </div>
                        </div>
                        <input type="password" class="form-control" id="passphrase" ng-model="passphrase" placeholder="Clave de {{messageKeyname}}"  >
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-info" ng-click="decrypt()" data-dismiss="modal">{{'messages.read' | translate}}</button>
                  </div>
                </div>
            </div>
        </div>   