<div class="container">
    <div ng-controller="messagesController">
      <form id="message" ng-init="getMessage()">
        <div class="form-group">
          <div ng-if="data.sender">
            <label for="user">Mensaje de {{data.sender}}</label>
          </div>
          <div ng-if="data.r_username">
              <label for="user">Mensaje enviado a {{data.r_username}}</label>
          </div>    
        </div>
        <div class="row">
          <div class="col-5">
            <div class="form-group">
              <label for="message">Encripción</label>
              <textarea class="form-control" id="message" ng-model="mensaje" rows="10"></textarea>
            </div>
            <div class="form-group">
                <label for="user">Passphrase (default)</label>
            <input type="password" class="form-control" id="passphrase" ng-model="passphrase" placeholder="">
          </div>    
          <button type="submit" class="btn btn-info" ng-click="decrypt()">Ver mensaje</button>
          <button type="submit" class="btn btn-primary" ng-click="respond(data.sender,data.id_sender)">Responder</button>

          </div> 
          <div class="col-5">
            <div class="form-group">
              <label for="message">Mensaje</label>
              <textarea class="form-control" id="message" ng-model="decrypted" rows="10"></textarea>
            </div>
            <div ng-show="decrypted">
                <div ng-if="data.tray != 'published' && data.publish == 'true' && !data.r_username">
                  <button type="submit" class="btn btn-info" ng-click="publishMessage()">Publicar mensaje</button>
                </div>
                <div ng-if="data.tray == 'published'">
                    <button type="submit" class="btn btn-info" disabled>Publicado</button>
                </div>     
            </div>  
          </div>   
        </div>  
      </form>
    </div>
  </div>


  <div class="modal fade spinerModal" tabindex="-1" id="readingSpinner" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
              Leyendo mensaje....
          </div>
          <div class="modal-body">
              <div class="d-flex justify-content-center">
                  <div class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
              </div>
          </div>
          <div class="modal-footer">
            
          </div>
        </div>
      </div>
    </div>