<div class="container">
  <h2>Ver mensaje</h2>
    <div ng-controller="messagesController" ng-init="askPassphrase()">
      <form id="message">
        <div class="form-group">
          <div ng-if="data.sender">
            <h2for="user">Mensaje de {{data.sender}}</h2>
          </div>
          <div ng-if="data.r_username">
              <h2 for="user">Mensaje enviado a {{data.r_username}}</h2>
          </div>    
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <textarea class="form-control" id="message" ng-model="decrypted" rows="10"></textarea>
            </div>

          <button type="submit" class="btn btn-primary" ng-click="respond(data.sender,data.id_sender)">Responder</button>
          <button ng-if="data.tray != 'published' && data.publish == 'true' && !data.r_username" type="submit" class="btn btn-info" ng-click="publishMessage()">Publicar mensaje</button>
          <button type="submit" ng-if="data.tray == 'published'" class="btn btn-info" disabled>Publicado</button>
          </div> 
        </div>  
      </form>
    </div>
  </div>


  <div class="modal fade spinerModal" tabindex="-1" id="readingSpinner" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
              Leyendo mensaje....
          </div>
          <div class="modal-body">
              <div class="d-flex justify-content-center">
                  <div class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
              </div>
          </div>
          <div class="modal-footer">
            
          </div>
        </div>
      </div>
    </div>
  </div>  


    <div class="modal fade readModal" tabindex="-1" id="readPass" role="dialog" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" ng-init="getMessage()">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Introduzca clave para {{namekey}}</h5>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <div ng-if="message">
                        <div class="alert alert-danger" role="alert">
                                {{message}}
                        </div>
                    </div>
                    <input type="password" class="form-control" id="passphrase" ng-model="passphrase" placeholder="Clave de {{namekey}}"  >
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-info" ng-click="decrypt()" data-dismiss="modal">Ver mensaje</button>
              </div>
            </div>
        </div>
    </div>    