<div id="wrapper" prevent-hover>   
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" close>

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
            </div>
            <div class="sidebar-brand-text mx-3">Sharekey</div>
            </a>
        
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
        
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
            <a class="nav-link" href="#!/index">
                <i class="fas fa-home"></i>
                <span>Inicio</span></a>
            </li>
        
            <hr class="sidebar-divider">
        
            <li class="nav-item active">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#profileMenu" aria-expanded="true" aria-controls="#profileMenu">
                <i class="fas fa-user-circle"></i>
                <span>Perfil</span>
            </a>
            <div id="profileMenu" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" ui-sref="dash.profile">Información</a>
                <a class="collapse-item" ui-sref="dash.keys">Llaves</a>
                <a class="collapse-item" ui-sref="dash.contacts">Contactos</a>
                </div>
            </div>
           <!-- <a class="nav-link collapsed" aria-expanded="true" ui-sref="dash.messages">
                <i class="fas fa-user-circle"></i>
                <span>Chats</span>
            </a> -->
            </li>
            <li class="nav-item active">
                <a class="nav-link" ui-sref="dash.chats">
                    <i class="fas fa-comments"></i>
                    <span>Chats</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle" toogle></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
       <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" >
            <!-- Main Content -->
        <div id="content">
            <navbar></navbar>
            <div id="container-fluid" ng-controller="dashboardController">

                    <ui-view></ui-view>

            <!--Modal to ask for the app key -->
            <div class="modal fade appPassword" tabindex="-1" id="appPassword" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                            <div class="alert alert-info" role="alert">
                                Para continuar introduzca su clave de aplicación, si es la primera vez que ingresa esta clave sera guardada.
                            </div>
                            <div ng-if="message">
                                <div class="alert alert-danger" role="alert">
                                        {{message}}
                                </div>
                            </div>
                            <input type="password" class="form-control" id="frase" ng-model="appKey" id="appKey" >
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div ng-if="storedKeys">
                                <button type="button" class="btn btn-dark" ng-click="requestConfirm()">Restablecer Clave</button>
                            </div>
                            <button type="button" class="btn btn-success" ng-click="setAppKey()">Continuar</button>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade confirmReset" tabindex="-1" id="confirmReset" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                Restablecer su clave de aplicación borrara toda su información en el dispositivo, es decir tendra que reactivar sus llaves.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" ng-click="cancel()">Cancelar</button>
                            <button type="button" class="btn btn-success" ng-click="resetAppKey()">Continuar</button>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>    
</div>    
