<div class="container-fullwidth">
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand" style="color:white">
        Sharekey
      </a>
    </nav>
  <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Recuperacion de contraseña</h5>
            <div ng-controller="ResetPasswordController">
            <form class="form-signin" ng-submit="resetPassword()">
              <div class="form-label-group">
                <input type="password" id="password" ng-model="password" class="form-control" placeholder="contraseña" required autofocus>
                <label for="inputPassword">contraseña</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="confirmPassword" ng-model="confirmPassword" class="form-control" placeholder="Confirma tu contraseña" required autofocus>
                <label for="inputEmail">Confirma tu contraseña</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Reestablecer contraseña</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  