<div class="container-fluid" ng-controller="filesController">
    <div class="row">
        <div class="col-12">
            <form id="downloadFiles" ng-submit="decipher()">
                <h3>{{'files.title' | translate}}</h3>
                <div class="form-group">
                    <label for="operation">{{'files.operation' | translate}}</label>
                    <select class="form-control" id="operation" ng-model="operation">
                        <option value="1">{{'files.code' | translate}}</option>
                        <option value="2">{{'files.decode' | translate}}</option>
                    </select>
                </div> 
                <div class="form-group">
                    <label for="file">{{'files.select_file' | translate}}</label>
                    <div class="custom-file mb-2 mr-sm-2" style="overflow: hidden;">
                            <input type="file" file="file" id="customFile" class="custom-file-input" id="customFileLangHTML"required>
                            <label class="custom-file-label" id="filelabel" data-browse="{{'files.browse' | translate}}" for="customFile">{{file.name}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="keys">{{'files.select_key' | translate}}</label>
                    <select class="form-control" id="fileKey" ng-model="key">
                        <option ng-repeat="key in userKeys" value="{{key.keyname}}">{{key.keyname}}</option>
                    </select>
                </div>  
                <div class="form-group" ng-show="operation == '2'">
                        <label for="user">{{'files.pass' | translate}}</label>
                    <input type="password" class="form-control" id="passphrase" ng-model="passphrase" placeholder="">
                </div> 
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#contactsModal">{{'files.share' | translate}}</button>
                <button type="submit" class="btn btn-primary">{{'files.download' | translate}}</button>
            </form>
        </div>    
    </div>
</div>


<div class="modal fade" id="contactsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{'files.contact' | translate}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" ng-init="getContacts()">
                <div class="form-group form-check" ng-repeat="contact in contacts | orderBy: 'this.name'">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-click="addId(contact.id)">
                    <label class="form-check-label" for="exampleCheck1">{{contact.name}} {{contact.lastname}}</label>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="deleteContacts()">{{'files.cancel' | translate}}</button>
              <button type="button" class="btn btn-primary" ng-click="getMultipleKeys()"  data-dismiss="modal">{{'files.select' | translate}}</button>
            </div>
          </div>
        </div>
      </div>